h1{
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-color: black;

}
h2{
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
}
.voice-text{
    text-align: center;
}